@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  --blue: #23018b;
  --red: #E2354E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.App-header {
  align-items: center;
  border-bottom: 3px solid var(--red);
  color: var(--red);
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

div.App-header img {
  height: 200px;
  width: 200px;
}

div.App-body {
  font-weight: 600;
  margin: 50px;
  min-height: 200px;
}

div.App-body p {
  margin-bottom: 15px;
}

div.App-body label {
  margin-right: 10px;
}

div.App-body input {
  margin-right: 10px;
}

div.App-footer {
  border-top: 3px solid var(--red);
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

div.App-footer p {
  margin: 25px 0;
}
